<paper-material elevation="1" class="maincontent">
  <h2>Bidders for <%= back.name %> <%= (locals.auction || locals.item).name %></h2>
  <table>
    <tr id="auctionhead">
      <td>Name</td>
      <td>Phone</td>
      <td>Email</td>
      <td>Address</td>
      <td></td>
    </tr>
    <% if(locals.auction){ %>
      <% auction.Items.forEach((item)=>{ %>
        <% item.Bids.forEach((bid)=>{ %>
          <tr>
            <td><%= bid.User.name %></td>
            <td><%= bid.User.phone %></td>
            <td><%= bid.User.email %></td>
            <td><%= bid.address %></td>
            <td><%- link_to("<paper-button class='content'>Delete</paper-button>", bid.auction_delete_path(auction)) %></td>
          </tr>
        <% }); %>
      <% }); %>
    <% }else{ %>
      <% item.Bids.forEach((bid)=>{ %>
        <tr>
          <td><%= bid.User.name %></td>
          <td><%= bid.User.phone %></td>
          <td><%= bid.User.email %></td>
          <td><%= bid.address %></td>
          <td><%- link_to("<paper-button class='content'>Delete</paper-button>", bid.item_delete_path(item)) %></td>
        </tr>
      <% }); %>
    <% } %>
  </table>
</paper-material>

<paper-material elevation="1" class="maincontent">
  <h2>Lottery</h2>
  <% if(locals.luckyWinner){ %>
    <p>
      <b>Name: </b><%= luckyWinner.User.name %>
    </p>
    <p>
      <b>Phone: </b><%= luckyWinner.User.phone %>
    </p>
    <p>
      <b>Email: </b><%= luckyWinner.User.email %>
    </p>
    <br>
    <p><i>Note: </i>A name is generated everytime this page is loaded.</p>
  <% }else{ %>
    No one has bid yet!
  <% } %>
</paper-material>

<paper-material elevation="1" class="maincontent">
  <%- link_to("<paper-button class='content'>Go Back to " + back.name + "</paper-button>", back.path) %>
</paper-material>
