<% if(!session.user){ %>
  <paper-material elevation="1" class="maincontent">
    Welcome to Silent Auction, a project under National Honor Society. Here you can bid
    for items up for auction, or donate. Thank you for visiting!
  </paper-material>
<% }else{ %>
  <paper-material elevation="1" class="maincontent">
    <div class="titlebar">
      <div class="title">Your auctions</div>
      <a href="/auction/new">
        <paper-button class='content' id='newauction'>New Auction</paper-button>
      </a>
    </div>
    <% if(!session.user.auctions || session.user.auctions.length == 0){ %>
      <paper-item>You are not running any active auctions.</paper-item>
    <% }else{ %>
      <% for(var i=0; i<session.user.auctions.length; i++){ %>
        <a href="/auction/<%= session.user.auctions[i].id %>" class="body">
          <paper-item class="auctions">
            <paper-item-body two-line>
              <div class='auctionTitle'>
                <div class='auctionName'><%= session.user.auctions[i] %></div>
                <% if(session.user.auctions[i].start_time > Date.today){ %>
                  <div class='time'><%= 'Starts in ' + session.user.auctions[i].start_time %></div>
                <% }else if(auction.end_time > Date.today){ %>
                  <div class='time'><%= 'ends in ' + session.user.auctions[i].end_time %></div>
                <% }else{ %>
                  <div class='time'>Expired</div>
                <% } %>
              </div>
              <div secondary><%= session.user.auctions[i].host %></div>
            </paper-item-body>
          </paper-item>
        </a>
      <% } %>
    <% } %>
<% } %>

<% if(auctions.length == 0){ %>
  <paper-material elevation="1" class="maincontent">
    <div class="titlebar">
      <div class="title">Open Auctions</div>
    </div>
    <% for(var i=0; i<auctions.length; i++){ %>
      <a href="/auction/<%= session.user.auctions[i].id %>" class="body">
        <paper-item class="auctions">
          <paper-item-body two-line>
            <div class='auctionTitle'>
              <div class='auctionName'><%= session.user.auctions[i] %></div>
              <% if(session.user.auctions[i].start_time > Date.today){ %>
                <div class='time'><%= 'Starts in ' + session.user.auctions[i].start_time %></div>
              <% }else if(auction.end_time > Date.today){ %>
                <div class='time'><%= 'ends in ' + session.user.auctions[i].end_time %></div>
              <% }else{ %>
                <div class='time'>Expired</div>
              <% } %>
            </div>
            <div secondary><%= session.user.auctions[i].host %></div>
          </paper-item-body>
        </paper-item>
      </a>
    <% } %>
  </paper-material>
<% } %>
