<paper-material elevation="1" class="maincontent">
  <% if @current_auction.nil? %>
    <div class="error">No auction exists with this ID. We are sorry about that.</div>
  <% else %>
    <div class="titleSection">
      <div class="title"><%= @current_auction.name %></div>
      <% if admin_signed_in? && @current_auction.admins.include?(current_admin) %>
        <%= link_to "<paper-button class='content'>Delete</paper-button>".html_safe, auction_path(), method: :delete,
            :data => {:confirm => 'Are you sure you would like to delete the auction?'} %>
        <%= link_to "<paper-button class='content'>Edit</paper-button>".html_safe, edit_auction_path() %>
      <% end %>
    </div>
    <p><b>Description: </b><%= @current_auction.description %></p>
    <p><b>Host: </b><%= @current_auction.host %></p>
    <p><b>Start Time: </b><%= @current_auction.start_time.strftime("%x") %></p>
    <p><b>End Time: </b><%= @current_auction.end_time.strftime("%x") %></p>
</paper-material>

<paper-material elevation="1" class="maincontent">
  <%= link_to "<paper-button class='content'>New Item</paper-button>".html_safe,
      new_item_path(auction_id: @current_auction.id) if admin_signed_in? && @current_auction.admins.include?(current_admin) %>
  <% if @current_auction.items.empty? %>
    <p>There are currently no items in the auction</p>
  <% else %>
    <div id="cardGrid">
      <% @current_auction.items.each do |item| %>
        <%= link_to(item_path(id: item.id), class: "body") do %>
          <div class="card">
            <div class="picture"><%= image_tag item.picture.url(:medium) %></div>
            <div class="cardTitle"><%= item.name %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
</paper-material>
