<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% items.forEach(item){ %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.description %></td>
        <td><%= link_to('Show', item.show_path()) %></td>
        <td><%= link_to('Edit', item.edit_path()) %></td>
        <td><%= link_to('Destroy', item.delete_path()) %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<br>

<%= link_to('New Item', new_item_path()) %>
