<!DOCTYPE html>
<html>
<head>
  <title>SilentAuction</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= html_import_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <paper-toolbar>
    <div class='title'>Silent Auction</div>
    <% if !admin_signed_in? %>
      <%= link_to "<paper-button>Log in</paper-button>".html_safe, new_admin_session_path() %>
      <%= link_to "<paper-button>Sign up</paper-button>".html_safe, new_admin_registration_path() %>
    <% else %>
      <%= link_to "<paper-button>Log out</paper-button>".html_safe, destroy_admin_session_path(), method: :delete %>
    <% end %>
  </paper-toolbar>

  <!-- <paper-toast text="Hello world!" opened><%= notice %><%= alert %></paper-toast> -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
