<!DOCTYPE html>
<html>
<head>
  <title>SilentAuction</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= html_import_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <paper-toolbar>
    <div class='title'><%= link_to "Silent Auction", root_path %></div>
    <% if !admin_signed_in? %>
      <%= link_to "<paper-button>Log in</paper-button>".html_safe, new_admin_session_path() %>
      <%= link_to "<paper-button>Sign up</paper-button>".html_safe, new_admin_registration_path() %>
    <% else %>
      <%= link_to "<paper-button>Log out</paper-button>".html_safe, destroy_admin_session_path(), method: :delete %>
    <% end %>
  </paper-toolbar>

  <div id="content-outer">
    <!-- <paper-toast text="Hello world!" opened><%= notice %><%= alert %></paper-toast> -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  <paper-toolbar id="footer" class="medium-tall">
    <div class='title'><%= link_to "Silent Auction", root_path, class: "footer-title" %></div>
    <p>Created by National Honor Society</p>
    <%= link_to "Donations", donations_path, class: "bottom" %>
    <%= link_to "New auction", new_auction_path, class: "bottom" %>
    <%= link_to "About us", '#', class: "bottom" %>
    <%= link_to "Credits", '#', class: "bottom" %>
    <%= link_to "Fairview High School", 'http://fairviewhs.org', class: "bottom" %>
    <%= link_to image_tag("nhs-logo.png", height: '50', id: 'footer-nhs-logo', class: 'bottom'), 'https://www.fairviewhs.org/sites/nhs', class: 'bottom' %>
  </paper-toolbar>

</body>
</html>
